body {
    background: #353638;
    display: flex;
    justify-content: center;
}

.container_for_timers {
    max-width: 825px;
    min-width: 225px;
    margin-top: 72px;
    display: flex;
    flex-wrap: wrap;
}

.timer {
    width: 225px;
    height: 120px;
    flex-shrink: 0;
    background: #696969;
    position: relative;
    margin-right: 50px;
    margin-bottom: 45px;
}


.add_timer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.add_timer::before,
.add_timer::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 20px;
    background: #9E9E9E;
}
.add_timer::after {
    transform: rotate(90deg);
}
.timer__dateTime {
    width: 75px;
    height: 18px;
    position: absolute;
    top: 22px;
    left: 75px;

    color: #9E9E9E;
    text-align: center;
    font-family: "Gotham Pro";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.timer__dateTime.active {
    color: #ffffff;
}

.timer__line {
    position: absolute;
    top: 60px;
    width: 225px;
    height: 1px;
    background-color: #9E9E9E;
}

.timer__buttons {
    position: absolute;
    display: flex;
    bottom: 15px;
    left: 70px;
}

.timer__buttons-start {
    margin-right: 48px;
}

.timer__buttons-pause::before,
.timer__buttons-pause::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 20px;
    background: rgb(255, 255, 255);
}
.timer__buttons-pause {
    cursor: pointer;
    width: 20px;
    height: 25px;
    margin-right: 48px;
}
.timer__buttons-pause::after {
    margin-left: 10px;
}

.timer__buttons-stop {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background: #9E9E9E;
}
.timer__buttons-stop {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background: #9E9E9E;
}

.add_timer:hover, .timer__buttons-start:hover, .timer__buttons-stop:hover {
    cursor: pointer;
}

.timer__line.active,  .timer__buttons-stop.active {
    background-color: #ffffff;
}



@media (max-width: 1024px) {
    .container_for_timers {
        width: 820px;
        justify-content: center;
    }
}
@media (max-width: 768px) {
    .container_for_timers {
        width: 540px;
        justify-content: center;
        margin-left: 45px;
    }
}